body {
	font-family: sans-serif;
	background-color: aqua;
}

td {
	padding: 5px 10px;
	color: white;
	font-size: 1rem;
}
h1,h3{
	text-align:center;
	
}
h3{
	color:green;
}
table {
	margin: auto;
	border: 2px solid black;
	padding: 10px;
	background: gray;
}

td:first-child {
	text-align: right;
}

input[type='reset'], input[type='submit'] {
	background-color: black;
	color: white;
	padding: 3px 5px;
	font-size: 1rem;
}